<!-- Top container -->
<div class="container bg-light pt-2">

  <!-- Header container -->
  <div>
    <header class="p-1">
      <h1>Coin Paper Miller</h1>
      <h6>Delivering currency info for you!</h6>
    </header>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapsable">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-collapsable">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active"
            class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/converter" routerLinkActive="active"
            class="nav-link">Currency</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Header container end -->
</div>
<!-- Top container end -->


<!-- Main container -->
<div class="container bg-light pb-2">
  <router-outlet></router-outlet>
</div>
<!-- Main container end -->


<!-- Footer container -->
<div class="container bg-white">
  <footer class="text-center">
    <address>
      Got feedback? Mail us at <a href="mailto:feedback@cpm.com" class="badge badge-primary">feedback@cpm.com</a>
    </address>
  </footer>
</div>
<!-- Footer container end -->
